html {
    overflow-x: hidden;
    overflow-y: auto;
}
.main {
    position: relative;
    min-height: 100%;
}
.header {
    position: fixed;
    background-color: #39c2d7;
    left: 0;
    top: 0;
    z-index: 1002;
    height: 60px;
    width: 100%;
    font-size: 20px;
}
.header-image {
    height: 40px;
    padding: 10px;
    float: left;
}
.header-menu-link {
    padding: 18px 10px;
    color: #fff;
    display: inline-block;
    text-decoration: none;
}
.header-menu-link:hover, .header-menu-link:active, .header-menu-link:focus {
    background-color: #1a9cb0;
}
/*.header-time {
    float: right;
}*/
.center {
    padding: 70px 20px 62px;
}
.footer {
    height: 25px;
    text-align: center;
    background: #464547;
    color: #fff;
    padding: 17px 0 10px 0;
    width: 100%;
    position: absolute;
    bottom: 0;
}