<div class="main">
    <div class="header">
        <img class="header-image" src="./../images/sun.png"/>
        <nav class="header-menu">
            <a class="header-menu-link" routerLink="/cities-async" routerLinkActive="active">Cities (AsyncPipe)</a>
            <a class="header-menu-link" routerLink="/cities" routerLinkActive="active">Cities</a>
            <a class="header-menu-link" routerLink="/map" routerLinkActive="active">Map</a>
            <a class="header-menu-link" routerLink="/weather-in-city" routerLinkActive="active">Weather In City</a>
            <span class="header-time" title = "Last change detection tree gets stable (ms)">{{ timeGetStable }}</span>
        </nav>
    </div>
    <div class="center">
        <router-outlet></router-outlet>
    </div>
    <div class="footer">Mogilev 2016</div>
</div>
